<div class="wrapper">
    <div class="logo"> <img src="https://yt3.ggpht.com/ytc/AKedOLSvHN_I9xdV6ReqLRWnqgeP-pXF2qOm__gBD98h=s176-c-k-c0x00ffffff-no-rj" alt=""> </div>
    <div class="text-center mt-4 name"> Iniciar Sesión </div>

    <form [formGroup]="signupForm" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input formControlName="email" type="email" name="usuario" id="usuario" placeholder="Usuario" #usuario> </div>
        
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input formControlName="contrasenya" type="password" name="contrasenya" id="contrasenya" placeholder="Contraseña" #contrasenya> </div> 
        <div class="text-danger text-center" *ngIf="errorMsg !== '' "><span>{{errorMsg}}</span></div>
        <div class="text-danger text-center" *ngIf="errorUser !== '' "><span>{{errorUser}}</span></div>
    </form>

    <button   [disabled]="signupForm.invalid" class="btn mt-3" (click)="comparar(usuario.value, contrasenya.value); usuario.value=''; contrasenya.value=''; "[routerLink]="['listado']">Iniciar Sesión</button>
    
    <div class="text-center fs-6"> <a href="#">¿Olvidaste tu contraseña?</a> o <a routerLink="/registrar" >Registrar</a> </div>
</div>
  
