<div class="wrapper">
    <div class="logo"> <img src="https://yt3.ggpht.com/ytc/AKedOLSvHN_I9xdV6ReqLRWnqgeP-pXF2qOm__gBD98h=s176-c-k-c0x00ffffff-no-rj" alt=""> </div>
    <div class="text-center mt-4 name"> Editar Usuario </div>

    <form [formGroup]="signupForm" class="p-3 mt-3">
        <div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input formControlName="email" type="email" name="usuario" id="usuario" placeholder="Usuario" [(ngModel)]="usuario1.correo" #userUsuario> </div>
        
        <div class="form-field d-flex align-items-center"> <span class="fas fa-key"></span> <input formControlName="contrasenya" type="password" name="contrasenya" id="contrasenya" placeholder="Contraseña" [(ngModel)]="usuario1.contrasenya" #userContrasenya> </div> 

        <!--<div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input formControlName="validar" type="text" name="validar" id="validar" placeholder="Validar" [(ngModel)]="usuario1.validar" #userValidar> </div>-->

        <p>Validar Usuario:</p>
        <div><select class="select form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="usuario1.validar" #userValidar>
            
            <option value="valido">Valido</option>
            <option value="NoValido">NoValido</option>
           
          </select></div>

        <!--<div class="form-field d-flex align-items-center"> <span class="far fa-user"></span> <input formControlName="tipo" type="text" name="tipo" id="tipo" placeholder="Tipo" [(ngModel)]="usuario1.tipo" #userTipo> </div>-->

        <p>Tipo de Usuario:</p>
        <div><select class="select form-select form-select-sm" aria-label=".form-select-sm example" [(ngModel)]="usuario1.tipo" #userTipo>
            
            <option value="user">User</option>
            <option value="admin">Admin</option>
           
          </select></div>
        
    </form>

    <button [disabled]="signupForm.invalid" class="btn mt-3" (click)="update(userUsuario.value, userContrasenya.value,userValidar.value, userTipo.value)">Editar</button>
    
    
</div>
  
