<table class="table table-borderless">
    <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
      <td ><button type="button" class="boton btn"><img src="https://cdn-icons-png.flaticon.com/512/263/263100.png" class="imagen" alt="..."></button></td>
    <th >1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    
    <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>

  </tr>
  <tr>    
      <td ><button type="button" class="boton btn"><img src="https://cdn-icons-png.flaticon.com/512/263/263100.png" class="imagen" alt="..."></button></td>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    
    <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>

  </tr>
  <tr>
      <td ><button type="button" class="boton btn"><img src="https://cdn-icons-png.flaticon.com/512/263/263100.png" class="imagen" alt="..."></button></td>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
    
    <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>
      
  </tr>
</tbody>

</table>