<div class="idDiv">
<table class="table table-borderless">
    <thead>
  <tr>
    
    <th scope="col">ID</th>
    <th scope="col">Correo</th>
    <th scope="col">Validar</th>
    <th scope="col">Tipo</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
</thead>


<tbody *ngIf="usuario.length">
  <tr *ngFor="let usuarios of usuario">
    
    <td>{{usuarios.id}}</td>  
    <td>{{usuarios.correo}}</td>
    <td>{{usuarios.validar}}</td>
    <td>{{usuarios.tipo}}</td>
    <td ><button type="button" class="botonDel btn" (click)="deleteUser(usuarios.id)"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>
    <td ><button type="button" class="boton btn" routerLink="/editUser/{{usuarios.id}} "><img src="https://cdn-icons-png.flaticon.com/512/263/263100.png" class="imagen" alt="..."></button></td>
    
    
  </tr>
</tbody>

</table>
</div>