<table class="table table-borderless">
    <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
    <td ><button type="button" class="botonMsg btn"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" class="imagen" alt="..."></button></td>
      <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>
    
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
    <td ><button type="button" class="botonMsg btn"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" class="imagen" alt="..."></button></td>
      <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>
    
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
    <td ><button type="button" class="botonMsg btn"><img src="https://cdn-icons-png.flaticon.com/512/1380/1380338.png" class="imagen" alt="..."></button></td>
      <td ><button type="button" class="botonDel btn"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" class="imagen" alt="..."></button></td>
    
  </tr>
</tbody>

</table>