.imagen{
    width: 20px;
    
}
.boton{
    background-color:  #398f39 !important;

}

.botonMsg{
    background-color:  #f5e12c !important;

}
.botonDel{
    background-color:  #ef3131 !important;

}